In [31]:
import pandas as pd
import numpy as np

In [2]:
vma = pd.read_csv('vma.csv')

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
vma.head()

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current
0,5004514,wholesale,1FTEW1EF7GFD46982,2016,Ford,F-150,Lariat,36524.0,2019-08-08,Exact,2.016018e+14,2016_Ford_F-150,30800.0,33600.0,26395.0,45682.0,Cold,0.533909,22.0,Tier1,Medium,1582.0,2800.0
1,5092247,wholesale,1FMCU0JD7HUB06187,2017,Ford,Escape,Titanium,20970.0,2019-08-01,Exact,2.017018e+14,2017_Ford_Escape,15900.0,18600.0,14428.0,33843.0,Hot,0.825581,19.0,Tier1,Medium,2286.0,2700.0
2,5092247,wholesale,1FMCU0J98GUC56903,2016,Ford,Escape,Titanium,19531.0,2019-08-01,Exact,2.016018e+14,2016_Ford_Escape,15750.0,17950.0,13638.0,41953.0,Hot,0.776985,18.0,Tier1,Low,323.0,2200.0
3,5420499,wholesale,1FADP3FE9HL274413,2017,Ford,Focus,SE,36482.0,2019-08-01,Exact,2.017018e+14,2017_Ford_Focus,9125.0,10950.0,10469.0,36473.0,Hot,0.702541,24.0,Tier1,High,463.0,1825.0
4,5177158,wholesale,1FT8W3DTXHEC60427,2017,Ford,F-350,Lariat,109622.0,2019-08-01,Exact,2.017018e+14,2017_Ford_Super Duty F-350 DRW,39500.0,43200.0,45758.0,60619.0,Hot,0.491837,19.0,Tier4,High,120.0,3700.0

In [7]:
vma.Source.unique()

array(['wholesale', 'atc_listi', 'ddc_listi', 'polk', 'VASC', 'VASNC',
       'vauto_rec'], dtype=object)

In [8]:
recent = vma[vma.Source == 'vauto_rec']

In [9]:
recent.head()

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current
28755813,0,vauto_rec,1C6SRFFT4KN744751,2019,Ram,1500,Big Horn/Lone Star,NaN,2019-09-27,Exact,2.019333e+14,2019_Ram_1500,31600.0,35200.0,35522.0,14507.0,Warm,0.461154,27.0,Tier1,High,828.0,3600.0
28755814,1,vauto_rec,1FMJU1HT3KEA63995,2019,Ford,Expedition,XLT,NaN,2019-08-29,Exact,2.019018e+14,2019_Ford_Expedition,40200.0,44700.0,50286.0,13895.0,Warm,0.465153,24.0,Tier3,Excessive,428.0,4500.0
28755815,2,vauto_rec,1FMSK8DH4LGA36038,2020,Ford,Explorer,XLT,24.0,2019-10-07,Exact,2.020018e+14,2020_Ford_Explorer,33400.0,40100.0,39823.0,1797.0,Hot,0.762238,29.0,Tier5,Other,90.0,6700.0
28755816,3,vauto_rec,1FT7W2A6XKEF37170,2019,Ford,F-250SD,XL,4.0,2019-09-06,Popular,2.019018e+14,2019_Ford_Super Duty F-250 SRW,NaN,NaN,43334.0,17854.0,Warm,0.370547,20.0,Tier2,Excessive,884.0,NaN
28755817,4,vauto_rec,1FTFW1RG2KFB68284,2019,Ford,F-150,Raptor,12.0,2019-08-28,Exact,2.019018e+14,2019_Ford_F-150,58700.0,68400.0,33902.0,15808.0,Cold,0.341914,17.0,Tier1,Excessive,1821.0,9700.0

In [10]:
recent.to_csv('0321recent.csv',index=False)

In [11]:
del vma

In [12]:
recent[recent.Key == 0]

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current
28755813,0,vauto_rec,1C6SRFFT4KN744751,2019,Ram,1500,Big Horn/Lone Star,NaN,2019-09-27,Exact,2.019333e+14,2019_Ram_1500,31600.0,35200.0,35522.0,14507.0,Warm,0.461154,27.0,Tier1,High,828.0,3600.0
30426764,0,vauto_rec,19XFC2F74GE058406,2016,Honda,Civic,EX,41218.0,2019-10-05,Exact,2.016023e+14,2016_Honda_Civic Sedan,12650.0,15600.0,12513.0,38418.0,Hot,0.803595,13.0,Tier1,Low,244.0,2950.0

In [25]:
recent.iloc[0:1670951,1] = 'VRN'
recent.iloc[1670951:,1] = 'VR'

In [27]:
recent.shape[0]

3913056

In [28]:
add = pd.read_csv('0321JZ_merge.csv')

In [29]:
add.head()

,Key,Source,Vin2,list_price,FIRST_LIST_PRICE,MIN_LIST_PRICE,seller_name
0,0,vauto_recent_new,1C6SRFFT4KN744751,NaN,43221.0,39421.0,WOODY FOLSOM OF VIDALIA CHRYSLER DODGE JEEP RAM
1,1,vauto_recent_new,1FMJU1HT3KEA63995,57672.0,52300.0,52300.0,GARY YEOMANS FORD LINCOLN
2,2,vauto_recent_new,1FMSK8DH4LGA36038,45773.0,NaN,45773.0,Les Mack
3,3,vauto_recent_new,1FT7W2A6XKEF37170,34490.0,NaN,34490.0,LORENZO FORD
4,4,vauto_recent_new,1FTFW1RG2KFB68284,71985.0,71985.0,71985.0,Hacienda Ford

In [42]:
add['price'] = add.apply(lambda row: row.list_price if pd.notnull(row.list_price) 
                         else (row.MIN_LIST_PRICE if pd.notnull(row.MIN_LIST_PRICE) 
                               else (row.FIRST_LIST_PRICE if pd.notnull(row.FIRST_LIST_PRICE) 
                                     else np.nan)),axis=1)

In [46]:
add1 = add.loc[:,['Key','Source','Vin2','seller_name','price']]

In [47]:
add1.head()

,Key,Source,Vin2,seller_name,price
0,0,vauto_recent_new,1C6SRFFT4KN744751,WOODY FOLSOM OF VIDALIA CHRYSLER DODGE JEEP RAM,39421.0
1,1,vauto_recent_new,1FMJU1HT3KEA63995,GARY YEOMANS FORD LINCOLN,57672.0
2,2,vauto_recent_new,1FMSK8DH4LGA36038,Les Mack,45773.0
3,3,vauto_recent_new,1FT7W2A6XKEF37170,LORENZO FORD,34490.0
4,4,vauto_recent_new,1FTFW1RG2KFB68284,Hacienda Ford,71985.0

In [116]:
add1.shape[0]

3913056

In [89]:
xref = pd.read_csv('vauto_atc_customer_xref.csv')
xref = xref.iloc[:,[0,1,4]]
xref['atc_customer_id'] = xref['atc_customer_id'].astype(str)

In [90]:
xref.head()

                 vauto_seller_name atc_customer_id  vin_cnt
0    #1 BROOKVILLE CHEVROLET BUICK        56476876        6
1   #1 Cochran Hyundai South Hills        65575405        3
2  #1 Cochran Subaru of Butler Co.        69699141       84
3                    1st Rate Auto          498995        6
4                             6731          577765        1

In [91]:
client_master = pd.read_csv("client_master.csv")

In [92]:
client_master.head()

,acctnum,accttype,acctsubtype,caid,custname,custcity,custaddrline1,custprovincecode,custpostalcode,externalidtype,externalid,acctaddline1,acctcity,acctprovincecd,acctpostalcd
0,DETA7000403,OVC,AUCTION,CA11741570,GARY L HAZELLIEF/PUBLIC,ANN ARBOR,3085 WHISPERWOOD DR,USA-MI,48105,OVC ID,5698281,3085 WHISPERWOOD DR,ANN ARBOR,USA-MI,48105
1,AREN7000438,OVC,AUCTION,CA11740438,ARSALAN ALI,VILLA PARK,901 W NORTH AVE,USA-IL,60181,OVC ID,5700002,901 W NORTH AVE,VILLA PARK,USA-IL,60181
2,ALOH7001395,OVC,AUCTION,CA11747260,GARY OSHIRO,HONOLULU,3720 MAHINA AVE,USA-HI,96816,OVC ID,5740421,3720 MAHINA AVE,HONOLULU,USA-HI,96816
3,80506,NGC,DEALER,CA11346933,BAVARIAN MOTORS,TOMBALL,9428 HUFSMITH RD,USA-TX,77375,NGC AA,5317162,8561 RAYSON RD STE C,HOUSTON,USA-TX,77080
4,5224772,OVC,AUCTION,CA11465278,JETT AUCTION LIMITED,PARKSVILLE,861 ALLSBROOK RD,CAN-BC,V9P 2A9,OVC ID,399669,861 ALLSBROOK RD,PARKSVILLE,CAN-BC,V9P 2A9

In [99]:
match = client_master[client_master['accttype']=='SVOC']
match = match[match['acctsubtype']=='PRIMARY']
match = match.iloc[:,[0,3]]

In [100]:
match.head()

     acctnum        caid
31    607305  CA11227024
56  70932111  CA11759037
59  68207825  CA11245678
72  66977397  CA11242463
85  70548051  CA11265118

In [101]:
connect = pd.merge(xref,match,how='left', left_on='atc_customer_id', right_on='acctnum')

In [108]:
connect['caid'] = connect.apply(lambda row: 'ATC'+str(row.atc_customer_id) if pd.isnull(row.caid) else row.caid,axis=1)

In [114]:
connect = connect.iloc[:,[0,1,4]]

In [115]:
connect.head()

                 vauto_seller_name atc_customer_id        caid
0    #1 BROOKVILLE CHEVROLET BUICK        56476876  CA11219101
1   #1 Cochran Hyundai South Hills        65575405  CA11233159
2  #1 Cochran Subaru of Butler Co.        69699141  CA11255841
3                    1st Rate Auto          498995  CA11215817
4                             6731          577765  CA11224350

In [117]:
add2 = pd.merge(add1,connect,how='left', left_on='seller_name', right_on='vauto_seller_name')

In [122]:
add2.head()

,Key,Source,Vin2,seller_name,price,vauto_seller_name,atc_customer_id,caid
0,0,vauto_recent_new,1C6SRFFT4KN744751,WOODY FOLSOM OF VIDALIA CHRYSLER DODGE JEEP RAM,39421.0,WOODY FOLSOM OF VIDALIA CHRYSLER DODGE JEEP RAM,69941345,CA11257989
1,1,vauto_recent_new,1FMJU1HT3KEA63995,GARY YEOMANS FORD LINCOLN,57672.0,GARY YEOMANS FORD LINCOLN,1060082,CA11207585
2,2,vauto_recent_new,1FMSK8DH4LGA36038,Les Mack,45773.0,NaN,NaN,NaN
3,3,vauto_recent_new,1FT7W2A6XKEF37170,LORENZO FORD,34490.0,LORENZO FORD,70500837,CA11262825
4,4,vauto_recent_new,1FTFW1RG2KFB68284,Hacienda Ford,71985.0,Hacienda Ford,2000141,ATC2000141

In [131]:
add2['dup'] = add2.Key.astype(str) + add2.Source

In [132]:
add3 = add2.drop_duplicates(subset=['dup'])

In [133]:
add3.shape[0]

3913056

In [135]:
add3.head()

,Key,Source,Vin2,seller_name,price,vauto_seller_name,atc_customer_id,caid,dup
0,0,vauto_recent_new,1C6SRFFT4KN744751,WOODY FOLSOM OF VIDALIA CHRYSLER DODGE JEEP RAM,39421.0,WOODY FOLSOM OF VIDALIA CHRYSLER DODGE JEEP RAM,69941345,CA11257989,0vauto_recent_new
1,1,vauto_recent_new,1FMJU1HT3KEA63995,GARY YEOMANS FORD LINCOLN,57672.0,GARY YEOMANS FORD LINCOLN,1060082,CA11207585,1vauto_recent_new
2,2,vauto_recent_new,1FMSK8DH4LGA36038,Les Mack,45773.0,NaN,NaN,NaN,2vauto_recent_new
3,3,vauto_recent_new,1FT7W2A6XKEF37170,LORENZO FORD,34490.0,LORENZO FORD,70500837,CA11262825,3vauto_recent_new
4,4,vauto_recent_new,1FTFW1RG2KFB68284,Hacienda Ford,71985.0,Hacienda Ford,2000141,ATC2000141,4vauto_recent_new

In [140]:
add3['caid'] = add3.apply(lambda row: 'POT'+ str(row.seller_name) if pd.isnull(row.caid) else row.caid,axis=1)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [163]:
add4 = add3.iloc[:,[4,7]]

In [164]:
add4.head()

     price         caid
0  39421.0   CA11257989
1  57672.0   CA11207585
2  45773.0  POTLes Mack
3  34490.0   CA11262825
4  71985.0   ATC2000141

In [165]:
add4.shape[0]

3913056

In [184]:
result = pd.concat([recent.reset_index(),add4.reset_index()], axis=1)

In [185]:
result.head()

,index,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current,index,price,caid
0,28755813,0,VRN,1C6SRFFT4KN744751,2019,Ram,1500,Big Horn/Lone Star,NaN,2019-09-27,Exact,2.019333e+14,2019_Ram_1500,31600.0,35200.0,35522.0,14507.0,Warm,0.461154,27.0,Tier1,High,828.0,3600.0,0,39421.0,CA11257989
1,28755814,1,VRN,1FMJU1HT3KEA63995,2019,Ford,Expedition,XLT,NaN,2019-08-29,Exact,2.019018e+14,2019_Ford_Expedition,40200.0,44700.0,50286.0,13895.0,Warm,0.465153,24.0,Tier3,Excessive,428.0,4500.0,1,57672.0,CA11207585
2,28755815,2,VRN,1FMSK8DH4LGA36038,2020,Ford,Explorer,XLT,24.0,2019-10-07,Exact,2.020018e+14,2020_Ford_Explorer,33400.0,40100.0,39823.0,1797.0,Hot,0.762238,29.0,Tier5,Other,90.0,6700.0,2,45773.0,POTLes Mack
3,28755816,3,VRN,1FT7W2A6XKEF37170,2019,Ford,F-250SD,XL,4.0,2019-09-06,Popular,2.019018e+14,2019_Ford_Super Duty F-250 SRW,NaN,NaN,43334.0,17854.0,Warm,0.370547,20.0,Tier2,Excessive,884.0,NaN,3,34490.0,CA11262825
4,28755817,4,VRN,1FTFW1RG2KFB68284,2019,Ford,F-150,Raptor,12.0,2019-08-28,Exact,2.019018e+14,2019_Ford_F-150,58700.0,68400.0,33902.0,15808.0,Cold,0.341914,17.0,Tier1,Excessive,1821.0,9700.0,4,71985.0,ATC2000141

In [186]:
recent.shape[0]

3913056

In [187]:
add4.shape[0]

3913056

In [188]:
result.shape[0]

3913056

In [189]:
final = result.drop(columns=['index'])

In [190]:
final.head()

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current,price,caid
0,0,VRN,1C6SRFFT4KN744751,2019,Ram,1500,Big Horn/Lone Star,NaN,2019-09-27,Exact,2.019333e+14,2019_Ram_1500,31600.0,35200.0,35522.0,14507.0,Warm,0.461154,27.0,Tier1,High,828.0,3600.0,39421.0,CA11257989
1,1,VRN,1FMJU1HT3KEA63995,2019,Ford,Expedition,XLT,NaN,2019-08-29,Exact,2.019018e+14,2019_Ford_Expedition,40200.0,44700.0,50286.0,13895.0,Warm,0.465153,24.0,Tier3,Excessive,428.0,4500.0,57672.0,CA11207585
2,2,VRN,1FMSK8DH4LGA36038,2020,Ford,Explorer,XLT,24.0,2019-10-07,Exact,2.020018e+14,2020_Ford_Explorer,33400.0,40100.0,39823.0,1797.0,Hot,0.762238,29.0,Tier5,Other,90.0,6700.0,45773.0,POTLes Mack
3,3,VRN,1FT7W2A6XKEF37170,2019,Ford,F-250SD,XL,4.0,2019-09-06,Popular,2.019018e+14,2019_Ford_Super Duty F-250 SRW,NaN,NaN,43334.0,17854.0,Warm,0.370547,20.0,Tier2,Excessive,884.0,NaN,34490.0,CA11262825
4,4,VRN,1FTFW1RG2KFB68284,2019,Ford,F-150,Raptor,12.0,2019-08-28,Exact,2.019018e+14,2019_Ford_F-150,58700.0,68400.0,33902.0,15808.0,Cold,0.341914,17.0,Tier1,Excessive,1821.0,9700.0,71985.0,ATC2000141

In [191]:
final.shape

(3913056, 25)

In [192]:
final.to_csv('0322_JZ_merge.csv',index=False)

In [193]:
see = pd.read_csv('0322_JZ_merge.csv')

In [194]:
see.head()

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current,price,caid
0,0,VRN,1C6SRFFT4KN744751,2019,Ram,1500,Big Horn/Lone Star,NaN,2019-09-27,Exact,2.019333e+14,2019_Ram_1500,31600.0,35200.0,35522.0,14507.0,Warm,0.461154,27.0,Tier1,High,828.0,3600.0,39421.0,CA11257989
1,1,VRN,1FMJU1HT3KEA63995,2019,Ford,Expedition,XLT,NaN,2019-08-29,Exact,2.019018e+14,2019_Ford_Expedition,40200.0,44700.0,50286.0,13895.0,Warm,0.465153,24.0,Tier3,Excessive,428.0,4500.0,57672.0,CA11207585
2,2,VRN,1FMSK8DH4LGA36038,2020,Ford,Explorer,XLT,24.0,2019-10-07,Exact,2.020018e+14,2020_Ford_Explorer,33400.0,40100.0,39823.0,1797.0,Hot,0.762238,29.0,Tier5,Other,90.0,6700.0,45773.0,POTLes Mack
3,3,VRN,1FT7W2A6XKEF37170,2019,Ford,F-250SD,XL,4.0,2019-09-06,Popular,2.019018e+14,2019_Ford_Super Duty F-250 SRW,NaN,NaN,43334.0,17854.0,Warm,0.370547,20.0,Tier2,Excessive,884.0,NaN,34490.0,CA11262825
4,4,VRN,1FTFW1RG2KFB68284,2019,Ford,F-150,Raptor,12.0,2019-08-28,Exact,2.019018e+14,2019_Ford_F-150,58700.0,68400.0,33902.0,15808.0,Cold,0.341914,17.0,Tier1,Excessive,1821.0,9700.0,71985.0,ATC2000141

In [196]:
see.tail()

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date,MIDMapAlgorithm,mid15,VPID,MMR_adj_current,RMI_adj_current,AvgPrice,avgmiles,Velocity,Salesefficiency,AvgDaysToSell,vol_tier,availability,inventory,spread_current,price,caid
3913051,2242339,VR,1GCGTDEN2H1179097,2017,Chevrolet,Colorado,Z71,51099.0,2019-08-19,Exact,2.017012e+14,2017_Chevrolet_Colorado,23300.0,25800.0,22841.0,34063.0,Hot,0.632479,16.0,Tier3,Medium,113.0,2500.0,26999.0,CA11240305
3913052,2242340,VR,1GKKVRKD3GJ229506,2016,GMC,Acadia,SLT-1,23048.0,2019-08-01,Exact,2.016022e+14,2016_GMC_Acadia,21300.0,25400.0,20471.0,40508.0,Hot,0.774018,15.0,Tier1,Low,75.0,4100.0,27500.0,CA11268925
3913053,2242341,VR,1GKS2AKC1KR318454,2019,GMC,Yukon,SLE,3084.0,2019-09-08,Exact,2.019022e+14,2019_GMC_Yukon,NaN,NaN,43305.0,23794.0,Cold,0.381383,25.0,Tier3,Excessive,289.0,NaN,53199.0,CA11227139
3913054,2242342,VR,1GNKRHKD5GJ235230,2016,Chevrolet,Traverse,2LT,36139.0,2019-08-12,Exact,2.016012e+14,2016_Chevrolet_Traverse,18500.0,20000.0,17560.0,46867.0,Hot,0.725383,15.0,Tier1,Low,142.0,1500.0,23003.0,CA11257618
3913055,2242343,VR,1HGCM56383A097898,2003,Honda,Accord,LX,158227.0,2019-08-10,Exact,2.003023e+14,2003_Honda_Accord Sdn,1650.0,3700.0,1567.0,180578.0,Hot,0.681002,9.0,Tier3,Medium,73.0,2050.0,NaN,CA11240557