In [1]:
!pip install numpy==1.15.1

Requirement already satisfied: numpy==1.15.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.15.1)
You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
!pip install pyarrow==0.15.1

Requirement already satisfied: pyarrow==0.15.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (0.15.1)
Requirement already satisfied: numpy>=1.14 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyarrow==0.15.1) (1.15.1)
Requirement already satisfied: six>=1.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyarrow==0.15.1) (1.11.0)
You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import pandas as pd
import pyarrow

In [4]:
data = pd.read_parquet('s3://cads-emory-data/data/parquet/vauto/vauto_atc_customer_xref/part-00000-e46ed1bc-b8cd-4b2d-9d80-02ecbfefcd31-c000.snappy.parquet')

In [5]:
data.shape

(375, 5)

In [6]:
data.head()

,vauto_seller_name,atc_customer_id,atc_customer_name,atc_website_address,vin_cnt
0,#1 BROOKVILLE CHEVROLET BUICK,56476876,#1 Brookville Chevrolet Buick,null,6
1,#1 Cochran Hyundai South Hills,65575405,#1 Cochran Hyundai of South Hills,www.cochran.com,3
2,#1 Cochran Subaru of Butler Co.,69699141,#1 Cochran Subaru of Butler County,http://www.cochransubarubutler.com/,84
3,1st Rate Auto,498995,Douglas Jeep Chrysler Dodge,http://www.douglasjeep.com,6
4,6731,577765,Larry H. Miller Honda Murray,www.lhmhonda.com,1

In [14]:
appended_data = []
for x in list(range(0, 200)):
    y = str(100000 + x)[-5:]
    print(y)
    filename = "s3://cads-emory-data/data/parquet/vauto/vauto_atc_customer_xref/part-" + y + "-e46ed1bc-b8cd-4b2d-9d80-02ecbfefcd31-c000.snappy.parquet"
    data = pd.read_parquet(filename)
    print(data.shape)
    # store DataFrame in list
    appended_data.append(data)
# see pd.concat documentation for more info
vauto_atc = pd.concat(appended_data)

00000
(375, 5)
00001
(349, 5)
00002
(418, 5)
00003
(357, 5)
00004
(383, 5)
00005
(399, 5)
00006
(362, 5)
00007
(395, 5)
00008
(378, 5)
00009
(365, 5)
00010
(361, 5)
00011
(396, 5)
00012
(375, 5)
00013
(372, 5)
00014
(350, 5)
00015
(400, 5)
00016
(376, 5)
00017
(379, 5)
00018
(345, 5)
00019
(408, 5)
00020
(327, 5)
00021
(367, 5)
00022
(373, 5)
00023
(392, 5)
00024
(402, 5)
00025
(375, 5)
00026
(409, 5)
00027
(404, 5)
00028
(415, 5)
00029
(348, 5)
00030
(371, 5)
00031
(372, 5)
00032
(391, 5)
00033
(360, 5)
00034
(360, 5)
00035
(370, 5)
00036
(362, 5)
00037
(367, 5)
00038
(378, 5)
00039
(357, 5)
00040
(382, 5)
00041
(384, 5)
00042
(372, 5)
00043
(381, 5)
00044
(394, 5)
00045
(412, 5)
00046
(378, 5)
00047
(364, 5)
00048
(373, 5)
00049
(374, 5)
00050
(341, 5)
00051
(412, 5)
00052
(357, 5)
00053
(370, 5)
00054
(388, 5)
00055
(393, 5)
00056
(376, 5)
00057
(403, 5)
00058
(389, 5)
00059
(382, 5)
00060
(382, 5)
00061
(401, 5)
00062
(365, 5)
00063
(373, 5)
00064
(381, 5)
00065
(364, 5)
00066
(377, 5)
00067
(339, 5)
00068
(340, 5)
00069
(375, 5)
00070
(369, 5)
00071
(390, 5)
00072
(386, 5)
00073
(398, 5)
00074
(349, 5)
00075
(359, 5)
00076
(390, 5)
00077
(354, 5)
00078
(374, 5)
00079
(382, 5)
00080
(359, 5)
00081
(390, 5)
00082
(394, 5)
00083
(364, 5)
00084
(359, 5)
00085
(381, 5)
00086
(380, 5)
00087
(419, 5)
00088
(380, 5)
00089
(345, 5)
00090
(363, 5)
00091
(379, 5)
00092
(397, 5)
00093
(362, 5)
00094
(382, 5)
00095
(372, 5)
00096
(417, 5)
00097
(365, 5)
00098
(392, 5)
00099
(407, 5)
00100
(374, 5)
00101
(357, 5)
00102
(354, 5)
00103
(353, 5)
00104
(353, 5)
00105
(396, 5)
00106
(368, 5)
00107
(340, 5)
00108
(363, 5)
00109
(368, 5)
00110
(365, 5)
00111
(380, 5)
00112
(368, 5)
00113
(383, 5)
00114
(366, 5)
00115
(380, 5)
00116
(347, 5)
00117
(369, 5)
00118
(384, 5)
00119
(383, 5)
00120
(367, 5)
00121
(410, 5)
00122
(375, 5)
00123
(353, 5)
00124
(390, 5)
00125
(332, 5)
00126
(349, 5)
00127
(377, 5)
00128
(410, 5)
00129
(353, 5)
00130
(429, 5)
00131
(360, 5)
00132
(377, 5)
00133
(355, 5)
00134
(364, 5)
00135
(374, 5)
00136
(352, 5)
00137
(335, 5)
00138
(392, 5)
00139
(331, 5)
00140
(354, 5)
00141
(388, 5)
00142
(352, 5)
00143
(391, 5)
00144
(371, 5)
00145
(365, 5)
00146
(395, 5)
00147
(372, 5)
00148
(377, 5)
00149
(381, 5)
00150
(370, 5)
00151
(376, 5)
00152
(375, 5)
00153
(357, 5)
00154
(386, 5)
00155
(348, 5)
00156
(334, 5)
00157
(365, 5)
00158
(405, 5)
00159
(360, 5)
00160
(391, 5)
00161
(387, 5)
00162
(357, 5)
00163
(390, 5)
00164
(370, 5)
00165
(367, 5)
00166
(344, 5)
00167
(378, 5)
00168
(373, 5)
00169
(357, 5)
00170
(355, 5)
00171
(370, 5)
00172
(356, 5)
00173
(390, 5)
00174
(349, 5)
00175
(384, 5)
00176
(350, 5)
00177
(377, 5)
00178
(397, 5)
00179
(364, 5)
00180
(398, 5)
00181
(359, 5)
00182
(375, 5)
00183
(353, 5)
00184
(385, 5)
00185
(351, 5)
00186
(349, 5)
00187
(371, 5)
00188
(382, 5)
00189
(377, 5)
00190
(370, 5)
00191
(368, 5)
00192
(365, 5)
00193
(343, 5)
00194
(377, 5)
00195
(363, 5)
00196
(381, 5)
00197
(365, 5)
00198
(378, 5)
00199
(383, 5)

In [15]:
vauto_atc.shape

(74680, 5)

In [17]:
vauto_atc.head(20)

,vauto_seller_name,atc_customer_id,atc_customer_name,atc_website_address,vin_cnt
0,#1 BROOKVILLE CHEVROLET BUICK,56476876,#1 Brookville Chevrolet Buick,null,6
1,#1 Cochran Hyundai South Hills,65575405,#1 Cochran Hyundai of South Hills,www.cochran.com,3
2,#1 Cochran Subaru of Butler Co.,69699141,#1 Cochran Subaru of Butler County,http://www.cochransubarubutler.com/,84
3,1st Rate Auto,498995,Douglas Jeep Chrysler Dodge,http://www.douglasjeep.com,6
4,6731,577765,Larry H. Miller Honda Murray,www.lhmhonda.com,1
5,A1 Classic Motors,73423,Matthews Motors,www.matthewsmotorsclayton.com,1
6,ADDISON AUTOPLEX,70670925,Addison Autoplex,www.addisonautoplex.com,37
7,AMIGO AUTO SALES,3274119,Amigo Auto Sales,http://www.amigoautosales.com,182
8,AUDI MODESTO,71857897,Audi Modesto,,2
9,AUDIA MOTOR GROUP LLC,1856627,Shults Ford Lincoln,www.shultsford.com,1
10,AUTO EXPRESS FIAT ALFA ROMEO OF ERIE,68104133,Auto Express Fiat Alfa Romeo of Erie,www.autoexpresssuperstore.com,68
11,AUTO FINANCE CENTER,65757319,Hendrick Toyota North Charleston,www.toyotaofnorthcharleston.com,4
12,AUTO PLANET LEASING & SALES,71065225,Auto Planet Leasing & Sales,,23
13,AUTOLAND INC,85314,Autoland Inc,www.autolandri.com,25
14,AUTONATION CHRYSLER DODGE JEEP RAM FIAT NORTH ...,1187760,AutoNation Chrysler Dodge Jeep Ram FIAT North ...,null,103
15,AUTOSOURCE LINDON,68061185,AutoSource Lindon,www.autosourcemotors.net/index.htm,3
16,AUTOSPORT CO,53047908,AutoSport Co,null,5
17,Abraham Auto Mall,603242,Nick Abraham Automall,null,25
18,All In Auto Group,6491177,Rusnak/ Pasadena Porsche,www.porschepasadena.rusnakonline.com,1
19,Aloha Kia Windward Mall,100048614,Aloha KIA Airport,www.alohaautogroup.com,1

In [18]:
vauto_atc.to_csv("vauto_atc_customer_xref.csv",index=False)