In [3]:
import pandas as pd
df = pd.read_csv("polk_data_clean.csv")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head(5)

,data_type,vin,polk_con_num,dealer_name,dealer_address,dealer_town,dealer_state,dealer_zip,dealer_dma,dealer_fran_ind,...,mileage,trans_price,age,income,gender,ethnic_group,sub_ethnic_group,language,reg_type_code,new_count
0,N,KNDPM3AC0L7707222,15669.0,RAY SKILLMAN GMC,8424 US 31 S,INDIANAPOLIS,IN,46227.0,INDIANAPOLIS,F,...,130.0,NaN,35-44 YEARS,"$50,000 - $74,999",FEMALE,WESTERN EUROPEAN,ENGLISH,ENGLISH,3,1
1,N,19XFC2F89KE046284,19284.0,STEPHEN WADE MAZDA,1630 S HILTON DR,SAINT GEORGE,UT,84770.0,SALT LAKE CITY,F,...,10.0,NaN,UNKNOWN,UNKNOWN,FEMALE,WESTERN EUROPEAN,ENGLISH,ENGLISH,3,1
2,N,JF2GTABC7KH381113,390704.0,SUBARU OF LITTLE ROCK,12121 COLONEL GLENN RD,LITTLE ROCK,AR,72210.0,LITTLE ROCK PINE BLUFF,F,...,12.0,NaN,UNKNOWN,UNKNOWN,FEMALE,HISPANIC,MEXICO,SPANISH,3,1
3,N,3CZRU6H55KM731404,11576.0,SCHLOSSMANN HONDA CITY,3450 S 108TH ST,MILWAUKEE,WI,53227.0,MILWAUKEE,F,...,16.0,NaN,65-74 YEARS,"$30,000 - $39,999",FEMALE,WESTERN EUROPEAN,NORWEGIAN,ENGLISH,4,1
4,N,5GAEVAKW9KJ308006,13233.0,LYNCH CHEVROLET BUICK GMC,2300 BROWNS LAKE DR,BURLINGTON,WI,53105.0,MILWAUKEE,F,...,66.0,NaN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,18,1

In [5]:
df.columns

Index(['data_type', 'vin', 'polk_con_num', 'dealer_name', 'dealer_address',
       'dealer_town', 'dealer_state', 'dealer_zip', 'dealer_dma',
       'dealer_fran_ind', 'vin_year_model', 'segment', 'make', 'model',
       'series', 'sub_series', 'vehicle_type', 'body_style', 'cylinders',
       'drive_type', 'doors', 'fuel_type', 'orgin', 'gvw', 'bed_size',
       'cab_size', 'turbo', 'financial_inst', 'veh_mfg_base_list_price',
       'corporation', 'reg_dma', 'reg_state', 'reg_county', 'reg_zip',
       'reg_type', 'purchase_lease', 'report_year_month', 'transaction_date',
       'mileage', 'trans_price', 'age', 'income', 'gender', 'ethnic_group',
       'sub_ethnic_group', 'language', 'reg_type_code', 'new_count'],
      dtype='object')

In [11]:
df1 = pd.DataFrame()

In [12]:
df1['Key'] = df['vin']

In [13]:
df1['Source'] = 'polk'

In [14]:
df1['Date'] = df['transaction_date']

In [15]:
df1['Year'] = df['vin_year_model']

In [16]:
df1['Make'] = df['make']

In [17]:
df1['Model'] = df['model']

In [18]:
df1['Mileage'] = df['mileage']

In [20]:
df1["VIN"]=df['vin']

In [21]:
df1.head()

,Key,Source,Date,Year,Make,Model,Mileage,VIN
0,KNDPM3AC0L7707222,polk,1919-10-18,2020,KIA,SPORTAGE,130.0,KNDPM3AC0L7707222
1,19XFC2F89KE046284,polk,1919-11-13,2019,HONDA,CIVIC,10.0,19XFC2F89KE046284
2,JF2GTABC7KH381113,polk,1965-08-10,2019,SUBARU,CROSSTREK,12.0,JF2GTABC7KH381113
3,3CZRU6H55KM731404,polk,1970-04-06,2019,HONDA,HR-V,16.0,3CZRU6H55KM731404
4,5GAEVAKW9KJ308006,polk,1970-04-15,2019,BUICK,ENCLAVE,66.0,5GAEVAKW9KJ308006

In [22]:
df1.to_csv("polk_merge.csv")

In [20]:
import pandas as pd
df = pd.read_csv("polk_merge.csv")

In [21]:
df1= pd.read_csv("polk_data_clean.csv")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
df["Trim"]=df1["series"]

In [23]:
df = df.rename(columns={'VIN':'Vin'})

In [24]:
polk_merge_new=df[['Key','Source','Vin','Year','Make','Model','Trim','Mileage','Date']]

In [25]:
polk_merge_new.Date

0          1919-10-18
1          1919-11-13
2          1965-08-10
3          1970-04-06
4          1970-04-15
5          1979-08-31
6          1990-02-16
7          1990-07-22
8          1999-09-02
9          1999-09-04
10         1999-10-30
11         1999-11-30
12         1999-12-31
13         1999-12-31
14         1999-12-31
15         1999-12-31
16         1999-12-31
17         1999-12-31
18         1999-12-31
19         1999-12-31
20         1999-12-31
21         1999-12-31
22         1999-12-31
23         1999-12-31
24         1999-12-31
25         1999-12-31
26         1999-12-31
27         1999-12-31
28         1999-12-31
29         1999-12-31
              ...
3780293    2019-10-31
3780294    2019-10-31
3780295    2019-10-31
3780296    2019-10-31
3780297    2019-10-31
3780298    2019-10-31
3780299    2019-10-31
3780300    2019-10-31
3780301    2019-10-31
3780302    2019-10-31
3780303    2019-10-31
3780304    2019-10-31
3780305    2019-10-31
3780306    2019-10-31
3780307    2019-10-31
3780308    2019-10-31
3780309    2019-10-31
3780310    2019-10-31
3780311    2019-10-31
3780312    2019-10-31
3780313    2019-10-31
3780314    2019-10-31
3780315    2019-10-31
3780316    2019-10-31
3780317    2019-11-01
3780318    2019-11-01
3780319    2019-11-01
3780320    2019-11-01
3780321    2019-11-01
3780322    2019-11-02
Name: Date, Length: 3780323, dtype: object

In [26]:
mask = (polk_merge_new['Date'] > '2019-08-01') & (polk_merge_new['Date'] <= '2019-10-31')

In [27]:
polk_merge_new = polk_merge_new.loc[mask]

In [28]:
polk_merge_new.head()

,Key,Source,Vin,Year,Make,Model,Trim,Mileage,Date
364674,5TDDZ3DC0LS228496,polk,5TDDZ3DC0LS228496,2020,TOYOTA,SIENNA,MTL,1504.0,2019-08-02
364675,KNMAT2MT9KP550612,polk,KNMAT2MT9KP550612,2019,NISSAN,ROGUE,MTL,2.0,2019-08-02
364676,5J6RW2H5XKL013495,polk,5J6RW2H5XKL013495,2019,HONDA,CR-V,EX,10.0,2019-08-02
364677,1C4RJFBGXKC815499,polk,1C4RJFBGXKC815499,2019,JEEP,GRAND CHEROKEE,LTD,11.0,2019-08-02
364678,7FARW1H50KE021466,polk,7FARW1H50KE021466,2019,HONDA,CR-V,EX,25.0,2019-08-02

In [29]:
polk_merge_new.shape

(3415643, 9)

In [31]:
polk_merge_new.to_csv("polk_merge_new.csv")